@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.button {
    @include font(700);
    font-size: 0.75rem;
    line-height: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    background-color: $brainFlix-blue;
    color: $white;
    width: 100%;
    padding: 0 2rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    height: 2.5rem;
    margin-top: auto;
    position: relative;
    text-align: center;

    &:hover {
        background-color: $brainFlix-darkBlue;
    }

    &:disabled {
        background-color: $error;
        cursor: default;
    }

    @include tablet {
        min-width: 9.5rem;
        max-width: 11rem;
    }

    &__image {
        position: absolute;
        left: 0.5rem;
    }
}