@use '../../styles/partials/variables' as *;

.current-video {
    &-background {
        background-color: $brainFlix-darkBlack;
        display: flex;
        justify-content: center;

        @include tablet {
            margin-left: -2rem;
        }

        @include desktop {
            margin-left: -5rem;
        }

        &__poster {
            width: 100%;
            aspect-ratio: 16 / 9;

            @include tablet {
                width: 90%;
            }

            @include desktop {
                width: 82%;
            }
        }
    }
}