@font-face {
  font-family: "avenir next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "avenir next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
.current-video-comments {
  margin: 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 1280px) {
  .current-video-comments {
    width: 100%;
    padding: 0 1rem 1rem 0;
  }
}
.current-video-comments__title {
  font-family: "avenir next", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .current-video-comments__title {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.current-video-comments-form {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  row-gap: 0.7rem;
  position: relative;
}
@media (min-width: 768px) {
  .current-video-comments-form {
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.current-video-comments-form-inner-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .current-video-comments-form-inner-container {
    width: 100%;
  }
}
.current-video-comments-form-inner-container--row {
  flex-direction: row;
}
.current-video-comments-form-inner-container__label {
  font-family: "avenir next", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.current-video-comments-form-inner-container__avatar {
  max-width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  left: -3rem;
}
.current-video-comments-form-inner-container__text-box, .current-video-comments-form-inner-container__text-box--mobile {
  padding: 1rem;
  background-color: #FAFAFA;
  border: 1px solid #AFAFAF;
  border-radius: 0.4rem;
  color: #323232;
  width: 100%;
  display: none;
  height: 5.5rem;
}
.current-video-comments-form-inner-container__text-box:focus, .current-video-comments-form-inner-container__text-box--mobile:focus {
  outline: 2px solid #0095FF;
}
@media (min-width: 768px) {
  .current-video-comments-form-inner-container__text-box, .current-video-comments-form-inner-container__text-box--mobile {
    display: inline;
    height: 2.5rem;
  }
}
.current-video-comments-form-inner-container__text-box--mobile {
  display: inline;
  resize: none;
}
@media (min-width: 768px) {
  .current-video-comments-form-inner-container__text-box--mobile {
    display: none;
  }
}
.current-video-comments-form-inner-container__text-box::-moz-placeholder, .current-video-comments-form-inner-container__text-box--mobile::-moz-placeholder {
  color: #323232;
}
.current-video-comments-form-inner-container__text-box:-ms-input-placeholder, .current-video-comments-form-inner-container__text-box--mobile:-ms-input-placeholder {
  color: #323232;
}
.current-video-comments-form-inner-container__text-box::placeholder, .current-video-comments-form-inner-container__text-box--mobile::placeholder {
  color: #323232;
}/*# sourceMappingURL=CurrentVideoForm.css.map */