@use '../../styles/partials/variables' as *;

.current-video-details {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    border-bottom: 1px solid $mercury;

    &-block {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            column-gap: 1rem
        }

        &__channel {
            @include font(700);
            font-size: 0.8125rem;
            line-height: 1.125rem;

            @include tablet {
                font-size: 0.875rem;
                line-height: 1.375rem;
            }
        }

        &__info {
            @include font(400);
            position: relative;
            color: $silver;
            font-size: 0.8125rem;
            line-height: 1.125rem;

            @include tablet {
                font-size: 0.875rem;
                line-height: 1.375rem;
            }
        }

        &__icon {
            position: static;
            margin-right: 0.5rem;
        }
    }
    }