@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.flexbox--desktop-row {

    @include tablet {
        margin: 0;
    }

    @include desktop {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
    }
}