@use "../../styles/partials/variables" as *;

.flexbox--desktop-row {

    @include tablet {
        margin-left: 2rem;
    }

    @include desktop {
        display: flex;
        margin-left: 5rem;
        flex-wrap: wrap;
    }
}