@use '../../styles/partials/variables' as *;

.next-video {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &__image {
        width: 10.0rem;
        height: 4.0rem;
        border-radius: 0.5rem;
        background-color: $mercury;
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;

        &__title {
            @include font(700);
            width: 13rem;
            margin: 0;
        }

        &__channel {
            @include font(400);
            margin-top: 0.5rem;
        }
    }
}