@use '../../styles/partials/variables' as *;

.next-videos {
    margin-left: 1rem;

    @include desktop {
        border-left: 1px solid $mercury;
        padding-left: 1rem;
    }

    &__title {
        @include font(700);
        color: $silver;
        font-size: 1rem;
        text-transform: uppercase;
    }
}