@use '../../styles/partials/variables' as *;

.current-video-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2rem;
    padding: 1rem 1rem 1rem 4rem;
    width: auto;
    border-bottom: 1px solid $mercury;
    position: relative;
    margin-left: 1rem;

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        &__name {
            @include font(700);
            font-size: 1.2rem;
            text-transform: capitalize;
            align-self: flex-start;
        }

        &__date {
             @include font(400);
            font-size: 1.2rem;
            color: $silver;
        }

        &__user-pic {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: $mercury;
            position: absolute;
            left: 1rem;
            top: 2.0rem;

        }
    }

    &__message {
        @include font(400);
        margin-top: -1.5rem;
    }
}