@use './styles/partials/variables' as *;

*::before, *::after, * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app-flexbox--desktop-row {
    @include tablet {
        margin-left: 2rem;
    }

    @include desktop {
        display: flex;
        margin-left: 5rem;
    }
}